.boardContainer {
  display: flex;
  margin: 96px;
  min-height: 500px;
  max-width: 1000px;
  flex-wrap: wrap;
  margin: auto auto;
  justify-content: center;
  border-radius: 20px;
  
}

.blockBoard {
  
}

.grey {
  background-color:grey;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}